* { box-sizing: border-box; user-select: none; }
html { background-color: #f8d4de; font-family: 'Roboto'; }
html canvas { animation: fadeIn 5s ease-in; animation-fill-mode: forwards; }
body { margin: 0; overflow: hidden; width: 100vw; height: 100vh; }
body canvas { width: 100vw; height: 100vh; image-rendering: pixelated; }
body .title { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: flex; justify-content: center; align-items: center; z-index: 1; text-align: center; color: #fff; animation: fadeIn 1s ease-in; animation-fill-mode: forwards; }
body .title .wrapper h1 { margin: 0; font-family: 'RobotoBlack'; }
body .title .wrapper h2 { margin: 0 0 48px; font-weight: normal; text-transform: uppercase; letter-spacing: 10px; font-size: 18px; }
body .title .wrapper a { color: inherit; text-decoration: none; display: inline-block; }

@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }

@font-face { font-family: Roboto; src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'); }
@font-face { font-family: RobotoBlack; src: url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff'); }